<section ng-show="createUserForm" id="createUser" ng-controller="createUser" data-ng-init="init()">
    <h2 class="createUserHeaderClass">יצירת משתמש חדש</h2>
    <form id="createUserFormFields" class="">
        <section class="createUserFieldsClass">
            <section class="createUserPClass">
                <h4><label for="createUserFirstName">שם פרטי</label></h4>
                <h4><label for="createUserLastName">שם משפחה</label></h4>
                <h4><label for="createUserId">תעודת זהות</label></h4>
                <h4><label for="createUserPassword">סיסמה</label></h4>
                <h4><label for="createUserEmail">מייל</label></h4>
                <h4><label for="CellNum">טלפון</label></h4>
                <h4><label for="PercentageJob">אחוז משרה</label></h4>
                <h4><label for="roleOptions">תפקיד</label></h4>               
                <h4><label for="facultyOptions">פקולטה</label></h4>
                <h4><label for="departmentsOptions">מחלקה</label></h4>
                
            </section>
            <section class="createUserInputClass">
                <p><input type="text" id="createUserFirstName" name="createUserFirstName" placeholder="שם פרטי" ng-model="createUserFirstNameTextBox"></p>
                <p><input type="text" id="createUserLastName" name="createUserLastName" placeholder="שם משפחה" ng-model="createUserLastNameTextBox"></p>
                <p><input type="text" id="createUserId" name="createUserId" placeholder="תעודת זהות" ng-model="createUserIdTextBox"></p>
                <p><input type="text" id="createUserPassword" name="createUserPassword" placeholder="סיסמה" ng-model="createUserPasswordTextBox"></p>
                <p><input type="email" id="createUserEmail" name="createUserEmail" placeholder="example@example.com" ng-model="createUserEmailTextBox"></p>
                <p><input type="tel" id="CellNum" name="CellNum" placeholder="0500000000" ng-model="CellNumTextBox"></p>
                <p><input type="number" id="PercentageJob" name="PercentageJob" placeholder="אחוז משרה" ng-model="PercentageJob" min="0" max="100"></p>
                <p><select ng-model="roleOptions" id="roleOptions" ng-options="x.Description for x in appRoles" ng-change="showRole(roleOptions)"></select></p>               
                <p><select ng-model="facultyOptions" id="facultyOptions" ng-options="x.FacultyName for x in facultyList"></select></p>
                <p><select ng-model="departmentsOptions" id="departmentsOptions" ng-options="x.DepartmentName for x in deprtmentsList"></select></p>
                <button ng-model="createUserSubmitButton" ng-click="createUser()" class="btn btn-default">צור משתמש</button>
            </section>
        </section>
    </form>
</section>