<section ng-show="deleteUser" id="deleteUser" ng-controller="deleteUser" data-ng-init="init()">
    <!--<div>
        <input type="text" placeholder="חפש.." ng-model="userSearch">
    </div>-->
    <!--<div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>חפש משתמש</h2>
                <div id="custom-search-input">
                    <div class="input-group col-md-12">
                        <input type="text" class="form-control input-lg" placeholder="חפש.." ng-model="userSearch"/>
                        <span class="input-group-btn">
                            <button class="btn btn-info btn-lg" type="button">
                                <i class="glyphicon glyphicon-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <select name="" class="btn btn-default" role="group" ng-options="item.FirstName+ ' ' + item.LastName + ' - ' + item.Id for item in usersToDelete" ng-model="usersToDeleteModel" ng-change="deleteUserFunction(usersToDeleteModel)">
        <option value="" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">בחר משתמש</option>
    </select>
    <!--<div ng-repeat="user in users | filter:userSearch" class="deleteUserRepeatClass">
        <div>
            {{user.FirstName}} {{user.LastName}} - {{user.Id}}
        </div>
    </div>-->
</section>
