body {
      /*overflow-x:hidden;
     overflow: hidden;*/
}

#logo {
    display: block;
    width: 50px;
    height: 60px;
    background-image: url(../../imeges/logo6.png);
    background-repeat: no-repeat;
    float: right;
    margin-top: 10px;
}

header {
    width: 100%;
    height: 60px;
    background-color: #000000;
    border-bottom: solid;
    border-bottom-color: #BFBFBF;
    margin-top: -15px;
}

    header section {
        margin-right: 30px;
        margin-top: 15px;
    }

        header section h1 {
            font-family: 'Rock Salt', cursive;
            font-size: 18px;
            color: #ff9900;
            float: right;
            clear: both;
            position: relative;
            bottom: 60px;
            right: 50px;
        }

        header section h5 {
            font-size: 24px;
            font-family: 'Amatic SC', cursive;
            color: #ffffff;
            float: right;
            position: relative;
            bottom: 60px;
            right: 250px;
        }

.form {
    direction: rtl !important;
}

#formSection {
    left: 300px;
    position: relative;
    top: 45px;
}
.createUserHeaderClass {
    position: relative;
    right: 500px;
    float: right;
}

#submitSection {
    margin-top: 30px;
}

.formRequestDivWrapper {
    position: relative;
    left: 550px;
}

#formsButton {
    float: right;
    display: block;
}

    #formsButton ul {
        text-decoration: none;
        list-style: none;
        position: relative;
        left: 130px;
        top: 150px;
        float: right;
    }

        #formsButton ul li {
            margin-top: 10px;
        }

aside {
    float: right;
    border-left: solid;
    position: relative;
    width: 70px;
    height: 710px;
}

#newFornSection {
    bottom: 600px;
    right: 500px;
    position: relative;
}

#mail {
    direction: ltr;
}

.formRequestTypeRadio {
    position: relative;
    right: 200px;
    bottom: 50px;
}

.dropDown {
    position: relative;
    top: 20px;
    left: 75px;
    width: 205px;
}

#budgetTextBox {
    position: relative;
    top: 20px;
    right: 70px;
    width: 205px;
}

.pagingClass {
   position: relative;
    top: 1200px;
    left: 750px;
    width: 731px;
}

    .pagingClass ul li {
        cursor: pointer;
    }

.currentPage {
    font-weight: bold;
    color: #DCAE30;
}

.otherPages {
    font: bold;
    color: #000000;
}

.dateContainer {
    position: relative;
    top: 100px;
}

.family {
    position: relative;
    right: 460px;
    top: 120px;
    margin: 10px;
}

.radioFamily {
    position: relative;
    right: 200px;
    bottom: 24px;
}

.importent {
    width: 40%;
    position: relative;
    bottom: 100px;
    direction: rtl;
    border-style: double;
    border-color: #DF0101;
    font-weight: bold;
    color: #DF0101;
    font-size: 12px;
}

    .importent h4 {
        font-weight: bold;
        color: #DF0101;
        margin-right: 10px;
        padding-top: 10px;
    }

    .importent span {
        font-weight: bold;
        color: #DF0101;
        text-decoration: underline;
        font-size: 14px;
    }

    .importent p {
        margin-right: 10px;
        margin-top: -10px;
    }

.destinationExplain {
    direction:rtl;
    position:relative;
    bottom:70px;
    left:200px;
    float:right;
}.destinationExplain p{
     margin-top: -10px;
 }
.destinationExplain p h4{
    font-size:14px;
    font-weight:bold;
}
#destinationTextBox{
position:relative;
bottom:70px;
left:50px;
width:450px;
height:100px;
}
.browseClass input{
   position:relative;
   right:410px;
   bottom:50px;
}
.flightDetailsSectionClass{
    position:relative;
    bottom:80px;
}
#flightDetailsAddButton {
    /*background: url('../../imeges/plusIcon.png') left center no-repeat;*/
    position:relative;
    left:200px;
    bottom:50px;
}
.flaightDetailDateClass{
    position:relative;
    left:500px;
    bottom:50px;
}
.flightDetailsAddFlightClass{
    position:relative;   
}
.flightDetailLableClass{
    font-weight:bold;
    padding-left:10px;
    padding-right:30px;
}
#dollarsNeeded{
    width:70px;
}
.flightDetailsScrollClass{
     overflow-y:scroll;
     height:280px;
     position:relative;
     left:200px;
     bottom:30px;
     width:100%;
     
}
.remoneFlightButton{
    background-color:red;
}
.remoneFlightButton .glyphicon-minus{
    color:white !important;
}
.flightExpenseClass{
    padding-top:15px;
    position:relative;
    left:27px;
}
.flightCashInputClass{
    width:55px;
}
.teachingRadioClass{
    margin-left:10px;
}
#addTeacingReplaceButton{
    position:relative;
    left:200px;
   bottom:50px;
}
.courseInputClass{
    position:relative;
    bottom:20px;
    left:250px;
}
#courseDay{
    width:150px;
}
#courseNameTextBox{
    width:120px;
}
.courseReplaceSectionClass{
    position:relative;
    bottom:80px;
}
.courseNameTextBox{
    margin-left:20px;
}
#courseReplaseComplete::placeholder {
    font-size:12px;
}
.courseReplaceSectionHeight{

    height:150px;
    position:relative;
    left:30px;
    margin-right:50px;
}
.pTestClass{
    position:relative;
    bottom:80px;
}
#addTestButton{
    position:relative;
    bottom:47px;
    left:200px;
}
.travelClass{
    float:right;
    position:relative;
    bottom:50px;
}
.travelClass p{
    font-weight: bold;
}
.travelDetailsRadioClass{
    position:relative;
    right:20px;
    bottom:50px;
    margin-bottom:3px;  
}
.signClass{
    position:relative;
    bottom:30px;
}
#submitFormButton{
    margin-right:350px;
}
.sumEshelDaysClass{
    position:relative;
    left:250px;
    float:right;
}
.flightsTableWrapper{
     overflow-y:hidden;
     position:absolute;
     
}
.flightsTableClass{
    overflow-y:scroll;
    position:relative;
   
}
#countriesId{
    max-width:140px;
}
#deleteUser{
    direction:rtl;
}
/*.formRequestTypeRadio input[type="radio"]{
    margin-right:20px;
}*/
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}
.deleteUserRepeatClass{
    position:relative;
    bottom:500px;
    right:500px;
}
#createUserFormFields{
    direction:rtl;
}
#dashboardOpensFormsRequestParentSection{
    overflow:hidden;
    height:600px;
    float:left;
    position:relative;
    left:1000px;
    top:70px;
    direction:rtl;
    
}
#dashboardOpensFormsRequest{
     float:right;
    direction:rtl;
    height:600px;
    overflow-y:scroll;
}
#dashboardOpensFormsRequest::-webkit-scrollbar{

  width: 0px;
  background: transparent;
}
table, th , td  {
  border: 1px solid grey;
  border-collapse: collapse;
  padding: 5px;
  direction:rtl;
  text-align:center;
  position:relative;
  
  /*align-content:center;*/
}
table tr:nth-child(odd) {
  background-color: #f1f1f1;
  direction:rtl;
  
}
table tr:nth-child(even) {
  background-color: #ffffff;
  direction:rtl;
}


